<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Verifica_logado</filter-name>
        <filter-class>br.com.roberta.filtros.Verifica_logado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Verifica_logado</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Gerar_criptografia</filter-name>
        <filter-class>br.com.roberta.filtros.Gerar_criptografia</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Gerar_criptografia</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>VerificarLogin</servlet-name>
        <servlet-class>br.com.roberta.controle.VerificarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>br.com.roberta.controle.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmSteps</servlet-name>
        <servlet-class>br.com.roberta.controle.AdmSteps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriaLoginServ</servlet-name>
        <servlet-class>br.com.roberta.controle.CriaLoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaAdms</servlet-name>
        <servlet-class>br.com.roberta.controle.ConsultaAdms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaAdms</servlet-name>
        <servlet-class>br.com.roberta.controle.AtualizaAdms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarAdms</servlet-name>
        <servlet-class>br.com.roberta.controle.DeletarAdms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLogin</servlet-name>
        <servlet-class>br.com.roberta.controle.ConsultaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaProduto</servlet-name>
        <servlet-class>br.com.roberta.controle.AdicionaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaProduto</servlet-name>
        <servlet-class>br.com.roberta.controle.AtualizaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiProduto</servlet-name>
        <servlet-class>br.com.roberta.controle.ExcluiProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaCategoria</servlet-name>
        <servlet-class>br.com.roberta.controle.AdicionaCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiCategoria</servlet-name>
        <servlet-class>br.com.roberta.controle.ExcluiCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaCliente</servlet-name>
        <servlet-class>br.com.roberta.controle.AdicionaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaCliente</servlet-name>
        <servlet-class>br.com.roberta.controle.AtualizaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiCliente</servlet-name>
        <servlet-class>br.com.roberta.controle.ExcluiCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaCompras</servlet-name>
        <servlet-class>br.com.roberta.controle.AdicionaCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaCompra</servlet-name>
        <servlet-class>br.com.roberta.controle.AtualizaCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiCompra</servlet-name>
        <servlet-class>br.com.roberta.controle.ExcluiCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirCategoria</servlet-name>
        <servlet-class>br.com.roberta.controle.ExibirCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirProdutos</servlet-name>
        <servlet-class>br.com.roberta.controle.ExibirProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirCompras</servlet-name>
        <servlet-class>br.com.roberta.controle.ExibirCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirClientes</servlet-name>
        <servlet-class>br.com.roberta.controle.ExibirClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificarLogin</servlet-name>
        <url-pattern>/VerificarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmSteps</servlet-name>
        <url-pattern>/AdmSteps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriaLoginServ</servlet-name>
        <url-pattern>/CriaLoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaAdms</servlet-name>
        <url-pattern>/ConsultaAdms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaAdms</servlet-name>
        <url-pattern>/AtualizaAdms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarAdms</servlet-name>
        <url-pattern>/DeletarAdms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLogin</servlet-name>
        <url-pattern>/ConsultaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaProduto</servlet-name>
        <url-pattern>/AdicionaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaProduto</servlet-name>
        <url-pattern>/AtualizaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiProduto</servlet-name>
        <url-pattern>/ExcluiProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaCategoria</servlet-name>
        <url-pattern>/AdicionaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiCategoria</servlet-name>
        <url-pattern>/ExcluiCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaCliente</servlet-name>
        <url-pattern>/AdicionaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaCliente</servlet-name>
        <url-pattern>/AtualizaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiCliente</servlet-name>
        <url-pattern>/ExcluiCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaCompras</servlet-name>
        <url-pattern>/AdicionaCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaCompra</servlet-name>
        <url-pattern>/AtualizaCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiCompra</servlet-name>
        <url-pattern>/ExcluiCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirCategoria</servlet-name>
        <url-pattern>/ExibirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirProdutos</servlet-name>
        <url-pattern>/ExibirProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirCompras</servlet-name>
        <url-pattern>/ExibirCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirClientes</servlet-name>
        <url-pattern>/ExibirClientes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
